flow.json
[{"id":"e865aeaf.2bad5","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"c866ff57.051e8","type":"mqtt-broker","z":"","name":"","broker":"farmer.cloudmqtt.com","port":"18602","clientid":"SW","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"749ce46f.ca933c","type":"ui_group","z":"","name":"Group 2","tab":"5e4cc7c6.bcae78","order":2,"disp":true,"width":"7","collapse":false},{"id":"b39579.92ecaa88","type":"ui_group","z":"","name":"Default","tab":"5e4cc7c6.bcae78","disp":true,"width":"7","collapse":false},{"id":"bdf27193.fc82b","type":"ui_group","z":"","name":"Group 3","tab":"5e4cc7c6.bcae78","order":3,"disp":true,"width":"12","collapse":false},{"id":"5e4cc7c6.bcae78","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"63ffff01.1e713","type":"mqtt in","z":"e865aeaf.2bad5","name":"","topic":"sensors/weight","qos":"2","datatype":"auto","broker":"c866ff57.051e8","x":100,"y":220,"wires":[["7eeed5df.d95c8c","789ad1c7.cb52"]]},{"id":"af6f9d26.0a06a","type":"mqtt in","z":"e865aeaf.2bad5","name":"","topic":"sensors/movement","qos":"2","datatype":"auto","broker":"c866ff57.051e8","x":110,"y":280,"wires":[["7eeed5df.d95c8c","789ad1c7.cb52","825f513e.517e2"]]},{"id":"3e2d25e6.3c161a","type":"mqtt in","z":"e865aeaf.2bad5","name":"","topic":"sensors/heat","qos":"2","datatype":"auto","broker":"c866ff57.051e8","x":90,"y":320,"wires":[["7eeed5df.d95c8c","ddde810c.96335","789ad1c7.cb52"]]},{"id":"7eeed5df.d95c8c","type":"function","z":"e865aeaf.2bad5","name":"toJson","func":"\ncontext.data= context.data || {};\nswitch(msg.topic){\n    case \"sensors/weight\":\n        context.data.task1= msg.payload;\n        msg = null;\n        break;\n    case \"sensors/movement\":\n        context.data.task2= msg.payload;\n        msg = null;\n        break;\n     case \"sensors/humidity\":\n        context.data.task4= msg.payload;\n        msg = null;\n        break;\n    case \"sensors/heat\":\n        context.data.task3= msg.payload;\n        msg = null;\n        break;\n    default:\n        msg = null;\n        break;\n}\n\nif( context.data.task2 != null && context.data.task3 != null && context.data.task4 != null){\n    date = new Date()\n    var jsonLook = \"{ \\\"\" + date.getTime() + \"\\\" :\" +\" { \\\"weight\\\":\" + 5 +\", \\\"movement\\\": \" + context.data.task2+\",\\\"humidity\\\": \" + context.data.task4+\", \\\"heat\\\": \" + context.data.task3+\"}}\"  ;\n    context.data=null;\n    return {payload:jsonLook};\n\n}else return msg;","outputs":1,"noerr":0,"x":550,"y":280,"wires":[["237e75cc.883aba","b8451ff1.555a4"]]},{"id":"b8451ff1.555a4","type":"debug","z":"e865aeaf.2bad5","name":"json","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":730,"y":340,"wires":[]},{"id":"237e75cc.883aba","type":"firebase modify","z":"e865aeaf.2bad5","name":"all_data","firebaseconfig":"","childpath":"Data","method":"update","value":"msg.payload","priority":"msg.priority","x":720,"y":220,"wires":[[]]},{"id":"789ad1c7.cb52","type":"ui_chart","z":"e865aeaf.2bad5","name":"","group":"749ce46f.ca933c","order":3,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"auto","interpolate":"step","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":370,"y":220,"wires":[[]]},{"id":"ddde810c.96335","type":"ui_gauge","z":"e865aeaf.2bad5","name":"","group":"b39579.92ecaa88","order":1,"width":0,"height":0,"gtype":"gage","title":"car temperatue","label":"degrees","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"safe","seg2":"danger","x":360,"y":420,"wires":[]},{"id":"10a67b6c.b44be5","type":"debug","z":"e865aeaf.2bad5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":490,"y":700,"wires":[]},{"id":"270d59f.0e21aa6","type":"debug","z":"e865aeaf.2bad5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":330,"y":500,"wires":[]},{"id":"7d682adf.ffb254","type":"ui_form","z":"e865aeaf.2bad5","name":"","label":"","group":"749ce46f.ca933c","order":1,"width":0,"height":0,"options":[{"label":"starting date","value":"starting date","type":"date","required":true},{"label":"starting hour","value":"starting hour","type":"text","required":true},{"label":"ending date","value":"ending date","type":"date","required":true},{"label":"ending hour","value":"ending hour","type":"text","required":true}],"formValue":{"starting date":"","starting hour":"","ending date":"","ending hour":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":90,"y":520,"wires":[["270d59f.0e21aa6","2f378875.fea278","4c6a9a3a.7f2534"]]},{"id":"2f378875.fea278","type":"function","z":"e865aeaf.2bad5","name":"to timestamp","func":"var js=msg.payload\nvar starttime= \"\"+ js[\"starting date\"].split(\"T\")[0]+\"T\"+js[\"starting hour\"]+\":00.000Z\"\nvar endtime= \"\"+ js[\"ending date\"].split(\"T\")[0]+\"T\"+js[\"ending hour\"]+\":00.000Z\"\nvar startdate = new Date(starttime);\nvar enddate = new Date(endtime);\nvar ans={\"start\": startdate.getTime(),\"end\": enddate.getTime()}\nreturn {payload: ans}","outputs":1,"noerr":0,"x":330,"y":560,"wires":[["c18f19c9.17bbb8","13d839fb.ade616"]],"outputLabels":["time"],"icon":"font-awesome/fa-calculator"},{"id":"c18f19c9.17bbb8","type":"debug","z":"e865aeaf.2bad5","name":"function","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":520,"y":560,"wires":[]},{"id":"13d839fb.ade616","type":"function","z":"e865aeaf.2bad5","name":"to date","func":"var js=msg.payload\nvar el = js[\"start\"]\nvar date= new Date(el)\nreturn {payload:date}","outputs":1,"noerr":0,"x":530,"y":500,"wires":[["4b4f7332.e524dc"]]},{"id":"4b4f7332.e524dc","type":"debug","z":"e865aeaf.2bad5","name":"date","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":690,"y":500,"wires":[]},{"id":"9378c998.4be538","type":"mqtt in","z":"e865aeaf.2bad5","name":"","topic":"sensors/humidity","qos":"2","datatype":"auto","broker":"c866ff57.051e8","x":100,"y":360,"wires":[["7eeed5df.d95c8c","c3f7bc37.bcdd9","789ad1c7.cb52"]]},{"id":"c3f7bc37.bcdd9","type":"ui_gauge","z":"e865aeaf.2bad5","name":"","group":"b39579.92ecaa88","order":2,"width":0,"height":0,"gtype":"gage","title":"humidity","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"ok","seg2":"danger","x":380,"y":360,"wires":[]},{"id":"4c6a9a3a.7f2534","type":"firebase.once","z":"e865aeaf.2bad5","name":"","firebaseconfig":"","childpath":"Data","repeatifnull":false,"eventType":"value","queries":[],"x":330,"y":640,"wires":[["10a67b6c.b44be5","9a2cb99d.1c18a8"]],"outputLabels":["value"]},{"id":"181d2b2f.e878c5","type":"csv","z":"e865aeaf.2bad5","name":"","sep":",","hdrin":"","hdrout":true,"multi":"mult","ret":"\\n","temp":"time,heat,humidity,movement,weight","skip":"0","x":710,"y":560,"wires":[["fef1b44d.c4ead8"]]},{"id":"9a2cb99d.1c18a8","type":"function","z":"e865aeaf.2bad5","name":"to csv","func":"var items = msg.payload\nvar keys= Object.keys(items)\nvar ans=\"[ \"\nkeys.forEach(firstFunc)\n\nfunction firstFunc(item) {\n\n    ans+= \"{ \\\"time\\\": \"+item\n    var keys= Object.keys( msg.payload[item])\n    keys.forEach(myFunction)\n    function myFunction(item2) {\n    if(item2 == \"heat\" ){\n        ans+= \", \\\"heat\\\":\"+item+msg.payload[item][item2]\n    }\n     else if(item2 == \"humidity\"){\n        ans+= \", \\\"humidity\\\": \"+msg.payload[item][item2]\n    }\n    else if(item2 == \"movement\"){\n         ans+= \", \\\"movement\\\": \"+ msg.payload[item][item2]\n    }\n    else if(item2 == \"weight\"){\n        ans+= \", \\\"weight\\\": \"+ msg.payload[item][item2]\n    }\n}\nans+=\"}, \"\n}\n\nans = ans.substring(0, ans.length - 2);\nans+=\" ]\"\n\n\nreturn {payload:ans};\n","outputs":1,"noerr":0,"x":510,"y":640,"wires":[["423c8f80.d87b8"]],"inputLabels":["[time,value]"]},{"id":"423c8f80.d87b8","type":"json","z":"e865aeaf.2bad5","name":"","property":"payload","action":"","pretty":true,"x":690,"y":640,"wires":[["181d2b2f.e878c5"]]},{"id":"fef1b44d.c4ead8","type":"file","z":"e865aeaf.2bad5","name":"","filename":"C:\\Users\\arbel\\Desktop\\try.csv","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":950,"y":560,"wires":[[]]},{"id":"8a83046d.1240e8","type":"source","z":"e865aeaf.2bad5","item_analysis":"","project":"","remote":"","name":"Source","reify":false,"synthetic":"","source_parser":"","file":"C:\\Users\\arbel\\Desktop\\carInfo.csv","disable_datetime":false,"data":"","term_analysis":"","x":100,"y":760,"wires":[["a07d6ba8.7f45b8"]]},{"id":"a07d6ba8.7f45b8","type":"dataset","z":"e865aeaf.2bad5","objective_field":"","origin":"","refresh_field_types":false,"tags":"","name":"dataset","reify":false,"term_limit":0,"excluded_fields":"","shared_hash":"","fields":"","refresh_objective":false,"json_filter":"","category":0,"size":0,"webhook":"","lisp_filter":"","description":"","input_fields":"","x":260,"y":760,"wires":[["98fa7364.6f197"]]},{"id":"98fa7364.6f197","type":"ensemble","z":"e865aeaf.2bad5","objective_field":"","weight_field":"","range":0,"random_candidates":0,"boosting":"","random_candidate_ratio":0,"replacement":false,"tags":"","ordering":0,"optimize":false,"name":"ensemble","reify":false,"seed":"","randomize":false,"excluded_fields":"","missing_splits":false,"balance_objective":false,"stat_pruning":true,"fields":"","split_candidates":32,"depth_threshold":512,"category":0,"webhook":"","number_of_models":10,"node_threshold":512,"max_training_time":1800,"model_candidates":128,"objective_weights":"","out_of_bag":false,"description":"","sample_rate":1,"support_threshold":0,"input_fields":"","x":420,"y":760,"wires":[["5df708cb.8221b8"]]},{"id":"5df708cb.8221b8","type":"reify","z":"e865aeaf.2bad5","name":"Reify","input_keypath":"","output_keypath":"","reify":true,"x":550,"y":760,"wires":[["ff747274.f3622"]],"inputLabels":["ensemble"]},{"id":"ff747274.f3622","type":"debug","z":"e865aeaf.2bad5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":710,"y":740,"wires":[]},{"id":"faf732b0.ed3bb","type":"prediction","z":"e865aeaf.2bad5","explain":false,"vote_counts":"","private":false,"tags":"","name":"prediction","reify":false,"vote_count":0.5,"missing_strategy":0,"operating_kind":null,"category":0,"webhook":"","operating_point":"","description":"","x":420,"y":820,"wires":[["4e649898.8150b8"]]},{"id":"4e649898.8150b8","type":"reify","z":"e865aeaf.2bad5","name":"Reify","input_keypath":"","output_keypath":"","reify":true,"x":550,"y":840,"wires":[["2c604302.d72f6c"]],"inputLabels":["prediction"],"outputLabels":["predictionOutcome"]},{"id":"45a27fe3.1d7cb","type":"find","z":"e865aeaf.2bad5","name":"Find resources","resource_type":"model","resource_name":"","tag":"","limit":1,"sort_field":"","order":"asc","reify":false,"x":260,"y":840,"wires":[["faf732b0.ed3bb"]],"outputLabels":["model"]},{"id":"d96299a5.6f93a8","type":"inject","z":"e865aeaf.2bad5","name":"","topic":"","payload":"{\"input-data\":{\"weight\":\"2\",\"humidity\":\"98\",\"movement\":\"0\",\"heat\":\"25\"},\"BIGML_USERNAME\":\"shimon23\",\"BIGML_API_KEY\":\"7272ea36bcc49852f624624802cb5c3d38051893\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":840,"wires":[["45a27fe3.1d7cb"]]},{"id":"74034bd2.13c434","type":"inject","z":"e865aeaf.2bad5","name":"","topic":"","payload":"{\"BIGML_USERNAME\":\"shimon23\",\"BIGML_API_KEY\":\"7272ea36bcc49852f624624802cb5c3d38051893\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":680,"wires":[["8a83046d.1240e8"]]},{"id":"2c604302.d72f6c","type":"debug","z":"e865aeaf.2bad5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.predictionOutcome.prediction","targetType":"msg","x":810,"y":820,"wires":[]},{"id":"30d6f2d2.3ad57e","type":"ui_template","z":"e865aeaf.2bad5","group":"bdf27193.fc82b","name":"template","order":1,"width":"12","height":"9","format":"<!DOCTYPE html>\n<html>\n<body style=\"background-color:MediumSeaGreen;\">\n<h1 style=\"color:MediumSeaGreen; text-align:center;\"> </h1>\n<iframe src=\"https://bigml.com/embedded/model/ux2XUCjpOcTLAAQDnCVH8YwP58J\" frameborder=\"0\" allowtransparency=\"true\" allowfullscreen=\"allowfullscreen\" width=\"600\" height=\"400\"></iframe>\n</body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":940,"y":680,"wires":[[]]},{"id":"825f513e.517e2","type":"ui_gauge","z":"e865aeaf.2bad5","name":"","group":"b39579.92ecaa88","order":2,"width":0,"height":0,"gtype":"donut","title":"movement","label":"","format":"{{value}}","min":0,"max":"1","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":370,"y":280,"wires":[]}]